
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Voice Identifier - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>

  </head>
  <body>
    
    <div class="top-nav">
            <ul class="top-horizontal">
                <li class="top-menu lefty" id="welcome">Voice Identifier</li>
                <li class="top-menu righty"><a href="https://voiceidentifier.sites.tjhsst.edu/about">About</a></li>
                <li class="top-menu righty"><a href="https://voiceidentifier.sites.tjhsst.edu/record">Record</a></li>
            </ul>
    </div>
    
    <div class="content">
        <h1>Welcome to Voice Identifier!</h1>
        <p>This website takes in your voice and use a model to classify who you are, 
        assuming you're a part of the model's training data.</p>
        <p>There may soon be a feature for you to add your own voice to the model's training data.</p>
	    <p>Click on "About" to learn more about the project, or "Record" to test it out!</p>
    </div>
  </body>
</html>